body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    font-size: 32;
}
h2 {
    font-size: 24
}
h3 {
    font-size: 18
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12
}